@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.main{
    padding: 0  0 1vw 0;
}
.upper{
    padding: 4.5vw 10vw;
    background-color: #178ca4 ;
    color: white;
}
.HiFORNAME {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 30px;
    color: #fff;
}
.HiName {
    font-family: 'Righteous';
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.subtitleProjectContainer {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.findallyourproject {
    color:#fff;
    font-size: 2em;
    font-family: sans-serif !important;
    line-height: 1.2;
    font-weight: 900;
}
.paragraphfindallproj {
    font-size: 1em;
    width: 88%;
    font-family: Roboto;
    line-height: 1.5;
}
.paragraphfindallproj b{
    color: #fff;
}
#newProject {
    font-size: 18px !important;
    font-family: Roboto;
    border-radius: 5px;
    background-color: #fff;
    width: 160px;
    height: 40px;
    color: #178ca4;
    line-height: 1.2px;
    text-align: center;
    border: 1px solid #fff;
}
.myProjects{
    font-family: sans-serif !important;
    font-size: 40px;
    color: #178ca4;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin: 1.5em 0;
}